<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> Your Password has been reset successfully. Please login again at http://localhost:3000/login</h1>
    </div>
</body>
</html>