.discord-add-but{
    color: white;
    padding: 4px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
    max-width: 90%;
}
.discord-add-but:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.discord-disabled-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
}