:root {
	--primary-brown: #C29879;
	--white: #fff;
	--offwhite: #c8afaf;
	--black: #000;
	--green: #00ff00;
	--red: #ff0000;
	--font-extra: 'Mea Culpa', cursive;
	--font-normal: 'Poppins', sans-serif;
	--bgtransparent: #6e6767ce;
	--bgtransparent-two: rgba(131, 115, 115, 0.808);
	--bgtransparentmax: #d7d3d338;
}

:root {
	--clr-primary: #29221d;
	--clr-primar-light: #473b33;
	--clr-secondary: #1e1611;
	--clr-white: #fff;
	--clr-black: #000;
	--clr-pumpkin: #fe6c00;
	--clr-silver: #a8a5a6;
	--clr-silver-v1: #bdbabb;
	--clr-scarlet: #fe1e00;
	--clr-scarlet-v1: rgb(254, 30, 0, 0.79);
	--clr-green: #00fe93;
	--clr-yellow: #fec80a;
	--clr-jet: #302924;
	--clr-peach: #ffc397;
	--font-family-bai: "Bai Jamjuree", sans-serif;
	--transition-default: all 300ms ease-in-out;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-normal);
	background-color: transparent;
}