.Navbar {
    /* background-color: pink; */
    width: 100vw;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.menu-icon {
    position: fixed;
    cursor: pointer;
    font-size: 2rem;
    color: var(--primary-brown);
    padding: 10px;
}

.menu {
    display: flex;
    background-color: var(--bgtransparent);
    width: fit-content;
    border-radius: 0 10px 10px;
    justify-content: left;
    padding: 10px;
    position: absolute;
    top: 8vh;
    left: 10px;
    z-index: 100;

}

.title {
    font-size: 2rem;
    font-family: var(--font-normal);
    color: var(--white);
    margin-left: 10px;
    position: fixed;
    top: 13px;
    left: 60px;
}

.menu li {
    list-style: none;
    padding: 10px 0;
}

.menu-links {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-normal);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.nav-but {
    position: absolute;
    right: 2vw;
}

.nav-btn {
    border: none;
    padding: 3px 10px;
    border-radius: 4px;
    margin: 0 10px;
}

.nav-link {
    color: var(--primary-brown);
}

.nav-btn:hover {
    cursor: pointer;
    background-color: var(--primary-brown);
}

.nav-btn:hover .nav-link {
    color: var(--white);
}

