.side-bar-parent{
    background-color: #141414;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid #685e5e;
    display: flex;
    flex-direction: column;
}



.side-bar-parent ul {
    list-style: none;
    padding-left: 0px;

}



li{
    margin: 0;
    width : 200%;
    margin : auto;
    margin-bottom : 0.8rem;
    /* margin: 1pxrem; */

}

.side-bar-buttons{
    display: flex;
    padding: 10px;
    /* background-color: var(--bgtransparentmax); */
    margin: 0;
    
    width: 100%;
    color: white;
    border: none;
    border-radius: 2px;
    justify-content: left;
}

.side-bar-buttons:hover{
    color: white;
}
.side-bar-icon{
    margin-right: 15px;
}
.inactive button{
    color: #685e5e;
}
.active button{
    background-color: var(--bgtransparentmax);
}

.side-bar-logout{
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    border: none;
    border-radius: 2px;
    justify-content: left;
    margin: 0;
}

.side-bar-logout {
    text-decoration: none;
    padding: 0 4px;
    color: #685e5e;
}
.side-bar-logout button{
    color: #685e5e;
}

.profile-dashboard-heading{
    /* margin : auto; */
    padding-top : 1.5rem;
    padding-bottom: 2rem;
    padding-left : 2.5rem;
    font-size: 1.2rem;
    font-weight:200;
}

.prominent_letter{
   color : #c47741;
}